@{
    ViewBag.PageName = "contact";
}

<address>
    1206 Broad Street<br />
    Chattanooga, TN 37402<br />
    <abbr title="Phone">P:</abbr> 423-702-8136<br />
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:info@gridprotectionalliance.org">info@gridprotectionalliance.org</a><br />
</address>