@*******************************************************************************************************
//  PageTemplate.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  01/22/2016 - J. Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@
@model openSPM.Model.AppModel
@*<p>
    By clicking on the menu items to the left, the following lists can be maintained:
</p>
<ul>
    <li>
        <b>Vendor List</b> This is an arbitrary list of "patch sources" that must be checked routinely by the PIC to determine
        if candidate security patches are available.<br/><br/>
    </li>
    <li>
        <b>Product List</b> (or Target Product). Development of this list provides a convenient way for the Patch Input Coordinator (PIC) to assign a Business Unit (BU) a candidate security
        patch for assessment. As new patches are added to the system, they must be assigned to a Target Product. Multiple Products may exist for each vendor.
        <b>Requirement</b>: As Products are added they must be associated with a single "vendor".<br/><br/>
    </li>
    <li>
        <b>Business Unit</b> A Business Unit is an arbitrary organization unit that contains Subject Matter Experts (SMEs) who are accountable for conducting assessments
        on specific Target Products. Each BU has a designated BU Coordinator (BUC) who is accountable for one or more Products within his/her BU.
        While BUs generally align with the physical organization structure, many virtual BUs can be created to correctly represent technical approval authority of the BUC to the SME.
        <b>Requirement</b>: The BUC must be added to the system as a user prior to creation of a new BU.<br/><br/>
        <b>Importantly</b>: After the Business Unit is created, it is EDITED to associate one or more existing users to the BU as an SME and to associate SMEs with one or more Products. See the diagram below.<br/><br/>
    </li>
    <li>
        <b>Security Users</b> (or Users) This page is used to add new users and to assign them one or more openSPM roles. Users can either be added via Active Directory or managed
        they can be added to the openSPM data base. openSPM user roles are: Administrator, BUC, Owner, PIC, SME and Viewer.<br/><br/>
    </li>
    <li>
        <b>Security Groups</b> (or User Groups) Used to assign roles in openSPM to previously established Active Directory groups.<br/><br/>
    </li>
    <li>
        <b>System Settings</b> This allows administrators to change the openSPM labeling and change other high-level openSPM settings.<br/><br/>
    </li>
</ul>
<p>
    <img src="~/Images/patchexplosion2.png" width="600"/>
</p>*@

<p>
    By clicking on the menu items to the left, the three key prerequiste configuration items can be maintained.  These are "products requiring patches"
    (Products), "Business Units" (BUs) responsible for discovering and handling security patches, and establishing one or more "Subject Matter Experts" (SMEs) that are responsible for
    secific Products within a BU.

</p>
<ul>
    <li>
        <b>Users</b> (or Security Users) Users should be added to the system first.  Users may have one or more openSPM roles. openSPM user roles are:
        <ul>
            <li>Administrator, the IT Professionals responsible for the system
            <li>Owner, (or Process Owner), the individuals responsible for assuring corporate CIP-007-R2 compliance
            <li>BUC, Business Unit Coordinator, the approval authority for Mitigation Plans
            <li>PIC, Patch Input Coordinator, those responsible for maintaining configuration of openSPM, especially the Products List
            <li>SME, Subject Matter Expert, the individuals in each BU that are responsible for discovering, assessing, installing (or overseeing installation) patches and for developing mitigation plans.
            <li>Viewer, users with read-only assess to openSPM
        </ul><br />
    </li>
    <li>
        <b>Groups</b> (or Security Groups) Used to assign roles in openSPM to previously established Active Directory groups.<br /><br />
    </li>

    <li>
        <b>Vendor List</b> This is the list of "patch sources" that is updated routinely by the PIC based on the products that are contained within critical infrastructure.<br /><br />
    </li>
    <li>
        <b>Product List</b>  This the controlled list of products within the corporation where patches must be tracked for CIP-007-R2 compliance.
        As new patches are added to the system, they must be assigned to a Target Product. Multiple Products may exist for each vendor.<br /><br />
        <u>Requirement</u>: As Products are added they must be: (1) associated with a single "Vendor" and (2) they must be
        assigned to individual SMEs -- at least one per BU responsible for this product.<br /><br />
    </li>
    <li>
        <b>Business Unit</b> A Business Unit (BU) is an arbitrary corporate organizational unit that contains SMEs who are accountable for conducting assessments, applying patches, and developing remediation plans
        on specific Products. Each BU has also has designated BU Coordinator (BUC) who is accountable for one or more Products within his or her BU.<br /><br />
        While BUs generally align with corporate organization structure, virtual BUs can be created
        as necessary to correctly represent technical approval authority of the BUC relative to the SME.<br /><br />
        <u>Requirement</u>: The BUC must be added to the system as a user prior to creation of a new BU.<br /><br />
        Importantly: After the Business Unit is created, it is EDITED to associate one or more existing users to the BU as an SME and to associate SMEs with one or more Products. See the diagram below.<br /><br />
    </li>
    <li>
        <b>System Settings</b> This allows Administrators to change the openSPM labeling and change other high-level openSPM settings.<br /><br />
    </li>
</ul>
<p align="center">
    <img src="~/Images/patchexplosion3-framed.png" width="800" />
</p>
