USE [master]
GO
/****** Object:  Database [openSPM]    Script Date: 2/17/2016 8:49:54 PM ******/
CREATE DATABASE [openSPM]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [openSPM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [openSPM]
GO
/****** Object:  Table [dbo].[MenuItem]    Script Date: 2/17/2016 8:49:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MenuItem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PageID] [int] NOT NULL CONSTRAINT [DF_MenuItem_PageID]  DEFAULT ((1)),
	[minViewLevel] [int] NOT NULL CONSTRAINT [DF_MenuItem_minViewLevel]  DEFAULT ((1)),
	[image] [varchar](256) NOT NULL CONSTRAINT [DF_MenuItem_image]  DEFAULT ('tbd.png'),
	[imageAlt] [varchar](32) NULL CONSTRAINT [DF_MenuItem_imageAlt]  DEFAULT ('Placekeeper'),
	[text] [varchar](20) NOT NULL CONSTRAINT [DF_MenuItem_text]  DEFAULT ('MenuItem'),
	[link] [varchar](256) NULL CONSTRAINT [DF_MenuItem_link]  DEFAULT ('/SPMhome.asp'),
	[sortOrder] [int] NULL,
	[description] [varchar](512) NULL,
	[enabled] [bit] NOT NULL CONSTRAINT [DF_MenuItem_enabled]  DEFAULT ((1)),
 CONSTRAINT [PK_MenuItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Page]    Script Date: 2/17/2016 8:49:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Page](
	[ID] [int] NOT NULL,
	[name] [varchar](32) NOT NULL CONSTRAINT [DF_Page_Name]  DEFAULT ('Page'),
	[title] [varchar](32) NOT NULL CONSTRAINT [DF_Page_Title]  DEFAULT ('Page Title'),
	[minViewLevel] [int] NOT NULL CONSTRAINT [DF_Page_minViewLevel]  DEFAULT ((1)),
	[configurationString] [varchar](512) NULL,
	[description] [varchar](512) NULL,
	[enabled] [bit] NOT NULL CONSTRAINT [DF_Page_enabled]  DEFAULT ((1)),
 CONSTRAINT [PK_Page] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ValueList]    Script Date: 2/17/2016 8:49:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ValueList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NULL,
	[intValue] [int] NULL,
	[shadowValue] [int] NULL,
	[alphaValue] [varchar](64) NULL,
	[name] [varchar](64) NULL,
	[abv] [varchar](12) NULL,
	[alias] [varchar](64) NULL,
	[description] [varchar](512) NULL,
	[sortOrder] [int] NULL,
	[private] [bit] NOT NULL CONSTRAINT [DF_ValueList2_private]  DEFAULT ((0)),
	[enabled] [bit] NOT NULL CONSTRAINT [DF_ValueList2_enabled]  DEFAULT ((1)),
	[dtCreated] [datetime] NULL CONSTRAINT [DF_ValueList2_dtCreated]  DEFAULT (getdate()),
 CONSTRAINT [PK_ValueList2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ValueListGroup]    Script Date: 2/17/2016 8:49:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ValueListGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](32) NULL,
	[description] [varchar](512) NULL,
	[enabled] [bit] NOT NULL CONSTRAINT [DF_ValueListGroup_enabled]  DEFAULT ((1)),
	[dtCreated] [datetime] NULL CONSTRAINT [DF_ValueListGroup_dtCreated]  DEFAULT (getdate()),
 CONSTRAINT [PK_ValueListGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
