<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core"/>
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="ConnectionString" value="eval(openSPM.ConnectionString)" description="Configuration connection string" encrypted="False"/>
      <add name="DataProviderString" value="eval(openSPM.DataProviderString)" description="Configuration database ADO.NET data provider assembly type creation string used when ConfigurationType=Database" encrypted="false"/>
      <add name="FromEmailAddress" value="test@gridprotectionalliance.org" description="Default from address for e-mails" encrypted="false" />
      <add name="SmtpServer" value="gpaweb" description="DNS or IP address of SMTP server for relaying e-mails" encrypted="false" />
      <add name="SmtpUserName" value="" description="User name for SMTP server, if any" encrypted="false" />
      <add name="SmtpPassword" value="" description="Password for SMTP server, if any" encrypted="false" />
    </systemSettings>
    <openSPM>
      <add name="ConnectionString" value="Data Source=vmTesting09\SQL2012; Initial Catalog=openSPM; Integrated Security=SSPI" description="Configuration connection string" encrypted="False"/>
      <add name="DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089}; ConnectionType=System.Data.SqlClient.SqlConnection; AdapterType=System.Data.SqlClient.SqlDataAdapter" description="Configuration database ADO.NET data provider assembly type creation string used when ConfigurationType=Database" encrypted="false"/>
    </openSPM>
    <miPlan>
      <add name="ConnectionString" value="Data Source=vmTesting09\SQL2012; Initial Catalog=MiPlan; Integrated Security=SSPI" description="Configuration connection string" encrypted="False"/>
      <add name="DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089}; ConnectionType=System.Data.SqlClient.SqlConnection; AdapterType=System.Data.SqlClient.SqlDataAdapter" description="Configuration database ADO.NET data provider assembly type creation string used when ConfigurationType=Database" encrypted="false"/>
    </miPlan>
  </categorizedSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
