<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net46" />
  <package id="ExpressionEvaluator" version="2.0.3.0" targetFramework="net46" />
  <package id="GSF.Communication" version="2.1.280-beta" targetFramework="net46" />
  <package id="GSF.Core" version="2.1.280-beta" targetFramework="net46" />
  <package id="GSF.Security" version="2.1.280-beta" targetFramework="net46" />
  <package id="GSF.ServiceProcess" version="2.1.280-beta" targetFramework="net46" />
</packages>