@*******************************************************************************************************
//  Help.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  01/22/2016 - J. Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using openSPM.Models
@model AppModel

<table class="table table-striped">
    <colgroup>
        <col class="col-md-2">
        <col class="col-md-7">
    </colgroup>
    <tbody>
        <tr>
            <td >Step</td>
            <td>Description</td>
        </tr>
        <tr valign="middle">
            <td ><img src="/Images/ProcessSteps/Small/1settings.png" /></td>
            <td>
                <p>By clicking on "settings" in the main menu, those with authorization can update the following lists:</p>
                <ol>
                    <li>
                        The <b>Patch Source</b> (or Vendor) List.  This is the list that the Patch Input Coordinator (PIC) must check for applicable security patches.
                    </li>
                    <li>
                        The <b>Target Platform</b> List.  This list exists to provide a convenient way for the PIC to assign a Business Unit (BU) a candidate security
                         patch for assessment.  As new patches are added to the system, they must be assigned to a Target Platform.
                    </li>
                    <li>
                        The <b>Business Unit Group</b> (BU Group) List.  Defines the BU Coordinator (BUC) that is accountable for one or more Platforms within openSPM. 
                        While there is typically just one BU Group per business unit, Owners can create as many groups as are needed to manage BUC / SME 
                        accountability relationships.
                    </li>
                    <li>
                        The list of applicable platforms for each BU Group.  
                    </li>
                    <li>
                        The list of Subject Matter Experts (SMEs) for each BU Group
                    </li>
                </ol>
            </td>
        </tr>

        <tr valign="middle">
            <td ><img src="/Images/ProcessSteps/Small/2check.png" /></td>
            <td>
                <p>From time-to-time, typically weekly, the PIC will review each patch source in openSPM and document that these sources have been
                checked for new patch availability.   OpenSPM will log the time that this source/vendor was checked.</p>
            </td>
        </tr>

        <tr valign="middle">
            <td ><img src="/Images/ProcessSteps/Small/3new.png" /></td>
            <td>
                <p>As new candidate security patches are discovered in Step 2, the PIC assigns the patch a corporate ID number and adds (copy and pastes)
                 the patch information from the vendor web site into openSPM.  The minimum required information for entry of a new patch is:</p>
                <ul>
                    <li>Corporate patch tacking number</li>
                    <li>Vendor / Source (from drop-down menu)</li>
                    <li>Vendor patch tracking ID</li>
                    <li>Patch title (80 characters max)</li>
                    <li>Vendor patch release date (this is used as the default start date for the 35-day period allowed for assessment)</li>
                    <li>Target Platform(s) (from drop-down menu) that directs the patch to one or more BUs for assessment.</li>
                </ul>
                <p>>As much information as is available from the vendor should be added to define the patch.  Fields are provided in the openSPM patch
                    entry from for this additional information.  Documents, such as PDFs, can be attached if they available from the vendor.</p>


            </td>
        </tr>

        <tr valign="middle">
            <td v><img src="/Images/ProcessSteps/Small/4start.png" /></td>
            <td>
                <p>openSPM sessions), the PIC notifies the affected BUCs (as well as the SMEs within that BU) that they have CCA with platforms targeted
                by this patch – by clicking on the “start” button from the “Active Patches” menu selection.</p>
               <p>The PIC is asked to confirm the start date for compliance timers as part of this process.  The PIC will work with the Owner to assign
                 an appropriate start date if using the compliance default start of the “vendor release date” does not allow sufficient time for patch
                 assessment prior to expiration of the 35-day assessment period.  This compliance defect in “patch discovery” will be logged by openSPM,
                 but will not result in openSPM raising multiple compliance violation warnings and alarms to multiple business unit groups on “start”.</p>


            </td>
        </tr>

        <tr>
            <td ><img src="/Images/ProcessSteps/Small/5assess.png" /></td>
            <td>
                <p>Starting the 35-day timer for patch assessment (as measured from the day that the patch was released by the vendor), requires the one,
                or typically more, BUCs with CCA platforms addressed by this patch to “assess” the patch for applicability.  To facilitate communication,
                all SMEs within the impacted Business Units are copied on the notification that a new security patch is available.  The BUC (or if 
                configured the BUC alternate) must enter the results of the assessment for their business unit in openSPM.  The minimum required information 
                that must be entered is one of the four “Assessment Results” that that drop down:</p>
                <ul>
                    <li>Install the patch</li>
                    <li>Develop a mitigation plan</li>
                    <li>Install the patch & Develop a mitigate plan</li>
                    <li>The patch is NOT an applicable security patch for this business unit</li>
                </ul>
                <p>If the assessment results in decision to develop a mitigation plan, the BUC must enter (and/or attach documents) that describes the basis
                for mitigation in lieu of patching.</p>
                <p>If the assessment results in a decision to apply the patch, the BUC is not required to enter a basis for this decision – but may do so on
                 a case-by-case basis.</p>
                <p>
                    Selecting “Patch” and/or “Mitigation Plan” starts a new 35-day timer for this business unit for the action of (1) installing the patch
                    and/or (2) developing a mitigation plan.
                </p>
                <p>Notifications will be sent to the BUC and SMEs in this Business Unit (as well as the Owner) as the 35-day compliance date approaches.</p>

            </td>
        </tr>

        <tr>
            <td ><img src="/Images/ProcessSteps/Small/6install.png" /></td>
            <td>
                <p>
                    Once the patch has been installed on all CCA within the BU, an SME in the impacted business unit must enter the “patch installation
                    completion” date in openSPM.
                </p>
                <p>The SME should also enter notes and/or attach documents that provide details and evidence of the installation.</p>
                <p>If no mitigation plan was required for this patch, this step ends the compliance actions on this patch.</p>

            </td>
        </tr>

        <tr>
            <td ><img src="/Images/ProcessSteps/Small/7plan.png" /></td>
            <td>
                <p>If a Mitigation Plan must be developed to address the patch, then this plan must be developed and the action steps of this plan
                 must be entered into openSPM -- and be approved by the BUC within 35-days of completion of the patch assessment. The BUC or 
                any SME within the BU may enter the mitigation plan. The mitigation plan requires entry of:</p>
                <ul>
                    <li>Risks from not patching</li>
                    <li>Justification for mitigation</li>
                    <li>Short plan summary</li>
                </ul>
                <p>Mitigation Plans must include at least two action steps – and may include as many action steps as are needed.  
                The two required steps are:</p>
                <ul>
                   <li>“Do something”</li>
                   <li>“Enter plan execution completion into openSPM”</li>
                </ul>
                <p>Each action step requires:</p>
                <ul>
                    <li>Type</li>
                    <li>Title (80 characters max)</li>
                    <li>Scheduled start date</li>
                    <li>Scheduled end date</li>
                </ul> 
            </td>
        </tr>

        <tr>
            <td ><img src="/Images/ProcessSteps/Small/8done.png" /></td>
            <td>
                <p>After patches have been assessed, installed and/or mitigation plans developed, the PIC conducts a 
                final assessment of the information logged about the security patch and the compliance evidence that
                 has been provided.   Following this evaluation, the patch is flagged as “done” and removed from the
                 “active patch list”</p>
            </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td>
                <p>Definitions:</p>
                <p><b>Business Unit Coordinator</b> (BUC) - The individual that is the approval authority for a busines unit's security actions for CCA for which that BU is accoutable.  A BUC enters the results of the patch assessment for that business unit.  A BUC approves Mitgation Plans for their Business Unit.</p>
                <p><b>Business Unit Group</b> (BU Group) - An virtual organizational entity comprised of a BUC (the approval authority) and SMEs (the technical experts) that have responsibility for CCA.</p>
                <p><b>Candidate Security Patch</b> - These are the patches that PICs and automated processes discover that may have security implications to CCA. </p>
                <p><b>Mitigation</b> - actions taken to minimize risk without complete elimination of a specific vulnerability (e.g. implementing additional process checks, adding access control mechanisms, authoring Intrusion Detection System rules to detect anomalous activities)</p>
                <p><b>Patch Assessment</b>- Assessments are a compliance requirement and are conducted to determine if a candidate patch is an applicable secuirty patch and if so the action required to address it -- either patch or mitigatge or both.</p>
                <p><b>Patch Input Coordinator</b> (PIC) - The individuals responsible for (1) reviewing sources of patch availablity, (2) entering candidate security patches into openSPM for assessment by SMEs, and (3) closing patches that been successfully assessed / addressed by the BUs.</p>
                <p><b>Patch Mitigation Plan</b> - The combination of risk assessment and justification for mitigation vs. patching PLUS a set of action steps that will mitigate the need to install the patch.</p>
                <p><b>Security Patch Compliance Authority</b> (Owner) - The corporate owner of the processes managed by openSPM.  The Owner can set business process configuraiton paramters and has full functionality on all system pages except for those pages reserved for Admins.</p>
                <p><b>Subject Matter Expert</b> (SME)- Professional staff within the business unit charged with making assessments on the security applicability and methods for addressing the vendor notice of patch availablity.</p>
                <p><b>System Adminsitrator</b> (Admin) - Informaton Technology personnel authorized to establish users and roles and set implementation specific configuration parameters (e.g., data base location).  Admins have unrestricted access to all pages in the openSPM Sytstem.</p>
            </td>
        </tr>
       
    </tbody>
</table>
