@*******************************************************************************************************
//  Help.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  03/14/2016 - Russell Robertson
//      Documented Process following discussions with TVA
//
//*****************************************************************************************************@
@using openSPM.Models
@model AppModel

@section StyleSheets{
    <style>
        img.image-wrap {
            float: left;
            margin: 0 15px 5px 0;
            vertical-align: central;
        }

        p.image-wrap {
            text-align: justify;
        }

        ul.image-wrap {
            list-style-position: inside;
        }

        div {
            margin-top: 0em;
            margin-bottom: 1em;
        }

    </style>
}


<table class="table table-striped">

    <colgroup>
        <col class="col-md-12">
    </colgroup>

    <tbody>
        <tr>
            <td >Step&nbsp;&nbsp;&nbsp;Description</td>
        </tr>
        <tr valign="middle">
            <td>
            <img src="~/Images/ProcessSteps/Small/1settings.png" class="image-wrap"/>
                <p class="image-wrap">
                    <div>By clicking on "settings" in the main menu, those with authorization can update the following 5 lists:</div>
                    <ul class="image-wrap small">
                        <li>
                            The <b>Patch Source</b> (or Vendor) List.  This is the list that the Patch Input Coordinator (PIC) must check for applicable security patches.
                        </li>
                        <li>
                            The <b>Platform</b> List.   As new patches are added to the system, they are assigned a Platform (or a "Target Platform" for the patch).
                            Subject Matter Experts (SMEs)
                            are authtorized to perform patch assessments for their business unit for one or more platforms.

                        </li>
                        <li>
                            The <b>Business Unit</b> (BU) List.  Business units represent the logical grouping of SMEs into an approval authority or Business Unit Coordinator.
                            Both a primary and alternate Business Unit approval authority can be designated for each BU.
                            Owners can create as many business units as necessary to manage BU Coordinator to SME accountability relationships.
                        </li>
                        <li>
                            The <b>SME's Platform</b> Responsiblity List. Each SME must be associated with one or more platforms.
                        </li>
                        <li>
                            The <b>User's BU</b> List. Each SME must be associated with a BU in order to have permission to enter this BU's patch assessment.  Currently,
                            an SME can only be associated with one BU.
                        </li>
                    </ul>
            </p></td>
        </tr>

        <tr valign="middle">
            <td ><img src="~/Images/ProcessSteps/Small/2check.png" class="image-wrap"/>
                <p class="image-wrap">
                    <div>
                        From time-to-time, typically weekly, the PIC will review each patch source in openSPM and document that these sources have been
                        checked for new patch availability.   OpenSPM will log the time that this source/vendor was checked.
                    </div>
            </p></td>
        </tr>

        <tr valign="middle">
            <td ><img src="~/Images/ProcessSteps/Small/3new.png" class="image-wrap"/>
                <p class="image-wrap">
                    <div>
                        As new candidate security patches are discovered in Step 2, the PIC assigns the patch a corporate ID number and adds (copy and pastes)
                        the patch information from the vendor web site into openSPM.  The minimum required information for entry of a new patch is:
                    </div>
                    <ul class="image-wrap small">
                        <li>Corporate patch tracking number of the form "TVA-yymm-nnn"</li>
                        <li>Vendor / Source (from drop-down menu)</li>
                        <li>Vendor patch tracking ID</li>
                        <li>Patch title (80 characters max)</li>
                        <li>Vendor patch release date (this is used as the default start date for the 35-day period allowed for assessment)</li>
                        <li>Platform (one or more are selected) that directs the patch to one or more SMEs for assessment for their BU.</li>
                    </ul>
                    <div>
                        As much information as is available from the vendor should be added to define the patch.  Fields are provided in the openSPM patch
                        entry from for this additional information.  Documents, such as PDFs, can be attached if they available from the vendor.
                    </div>
            </p></td>
        </tr>

        <tr valign="middle">
            <td v><img src="~/Images/ProcessSteps/Small/4start.png" class="image-wrap"/>
                <p class="image-wrap">
                    <div>
                        The PIC notifies the affected SMEs that they have CCA with platforms associated with this patch by clicking on the “start” button
                        from the “Active Patches” menu selection.
                    </div>
                    <div>
                        As part of this process, the PIC is asked to confirm the start date for compliance timers as part of this process.  The PIC will work
                        with the Owner to assign
                        an appropriate start date if using the compliance default start of the “vendor release date” does not allow sufficient time for patch
                        assessment prior to expiration of the 35-day assessment period.  This compliance defect in “patch discovery” will be logged by openSPM,
                        but will not result in openSPM raising multiple compliance violation warnings and alarms to multiple business unit groups on “start”.
                    </div>
                    <div>At this point in the process, the patch "explodes" into no more than one tracked item per BU as based on the platform-to-BU relationships.</div>
            </p></td>
        </tr>

        <tr>
            <td ><img src="~/Images/ProcessSteps/Small/5assess.png" class="image-wrap"/>
                <p class="image-wrap">
                    <div>
                        After the PIC clicks on "start" each BU has 35 days (typcially from the vendor's patch release date) to "assess" the patch.  This assessment can be
                        performed by any SME in the BU which is associated with one of the platforms linked to the patch.
                        If multiple SMEs within a BU have been associated with the platform, then all these SMEs have permission to represent the BU in the assessment
                        of the patch.  Only one assessment is allowed per patch per BU.
                    </div>

                    <div> The minimum required information that must be entered as part of the assessment is one of three “Assessment Results”:</div>
                    <ul class="image-wrap small">
                        <li>Install the patch</li>
                        <li>Develop a mitigation plan (which includes patching some, but not all, devices)</li>
                        <li>Declaring that patch is NOT an applicable security patch for this BU</li>
                    </ul>
                    <div>
                        If the assessment results in decision to develop a mitigation plan, a dialog box pops up so that the SME must enter a short description
                        (and/or attach documents) of the basis
                        for mitigation in lieu of patching.  As this dialog box closes, a new mitigation plan "placekeeper" is created in the MiPlan application.
                        An SME in the BU has 35 days to develop this plan and have it approved
                        by the BU Coordinator.
                    </div>
                    <div>If the assessment results in a decision to apply the patch(es), the SME is not required to enter a basis for this decision – but may do so.</div>
                    <div>
                        Importantly, finishing the assessment starts a new 35-day timer for this business unit for the action of (1) installing the patch
                        or (2) developing a mitigation plan.
                    </div>
                    <div>
                        <i>
                            The
                            corporation is non-compliant if all BU's with Platforms have not assessed the patch within the 35-day assessment period.
                            Similarily, the corporation is not compliant if any individual BU
                            takes longer than 35 days to install the patch or development the mitigation plan.
                            Note since individual BUs can complete assessments on differing dates, the timer for compliance for patch installation or mitigation
                            plan development is on a BU-by-BU basis.
                        </i>
                    </div>
                    <div>Notifications will be sent to the BU Cooordinator and SMEs in this Business Unit (as well as the Owner) as the 35-day compliance date approaches.</div>

            </p></td>
        </tr>

        <tr>
            <td ><img src="~/Images/ProcessSteps/Small/6install.png" class="image-wrap"/>
                <p class="image-wrap">
                    <div>
                        Once the patch has been installed on all CCA within the BU, an SME for the Platform in the impacted BU must enter the “patch installation
                        completion” date in openSPM.
                    </div>
                    <div>An SME in the BU should also enter notes and/or attach documents that provide details and evidence of the installation.</div>
                    <div>This step ends the required compliance action on this patch for this BU.</div>

            </p></td>
        </tr>

        <tr>
            <td ><img src="~/Images/ProcessSteps/Small/7plan.png" class="image-wrap"/>
                <p class="image-wrap">
                    <div>
                        If an assessment calls for a Mitgation Plan, a "placekeeper" new plan is automatically created in the companion MiPlan application by openSPM.
                        The MiPlan application is used to (1) house the plan [<i>a piece of compliance evidence</i>] and (2) track the completion of mitigation plan action items
                        [<i>not currently a factor in patch mangagement compliance</i>].
                    </div>
                    <div>
                        Clicking on this menu item shows the list of mitigation plans that are pending development and approval. Once approved by the BU Coordinator, plans disappear from
                        this list for this BU and this step ends the required compliance actions for this BU.
                    </div>
                    Mitgiation Plan development states that are set within the MiPlan application are:
                    <ul class="image-wrap small">
                        <li>Pending - The plan is under development by an SME </li>
                        <li>Submitted - The plan has been submitted for approval by the SME </li>
                        <li>Approved - The plan has been approved by the BU Coordinator [the last step for compliance]</li>
                        <li>Started - At least one action on the plan has a state of started or greater</li>
                        <li>Completed - All action steps have been completed.</li>
                        <li>Closed - The plan has been reviewed and closed by the BU.</li>
                    </ul>
                    <div>Go the the <a href="">MiPlan Web Site</a> to learn more about mitigation planning.</div>               
            </p></td>
        </tr>

        <tr>
            <td ><img src="~/Images/ProcessSteps/Small/8done.png" class="image-wrap"/>
                <p class="image-wrap">
                    <div>
                        After patches have been assessed, installed and mitigation plans developed (but not completed), the PIC conducts a
                        final assessment of the information logged about the security patch and the compliance evidence that
                        has been provided.   Following this evaluation, the patch is flagged as “done” and removed from the
                        “active patch list”.
                    </div>
            </p></td>
        </tr>

        <tr>
            <td>
                <p class="image-wrap">
                    <div><a id="Definitions"></a>Definitions:</div>
                    <div>
                        <b>Business Unit</b> (BU) - An virtual organizational entity comprised that has a coordinator (the approval authority) and SMEs
                        (the technical experts) that have responsibility for CCA.
                    </div>
                    <div><b>Candidate Security Patch</b> - These are the patches that PICs and automated processes discover that may have security implications to CCA. </div>
                    <div>
                        <b>Mitigation</b> - actions taken to minimize risk without complete elimination of a specific vulnerability (e.g. implementing
                        additional process checks, adding access control mechanisms, authoring Intrusion Detection System rules to detect anomalous activities)
                    </div>
                    <div>
                        <b>Patch Assessment</b>- Assessments are a compliance requirement and are conducted by SMEs to determine if a candidate patch
                        is an applicable security patch and if so the action required to address it -- either patch or mitigate or both.
                    </div>
                    <div>
                        <b>Patch Mitigation Plan</b> - The combination of risk assessment and justification for mitigation vs. patching PLUS a set of
                        action steps that will mitigate the need to install the patch.  Mitigation Plans are managed in the MiPlan Application.
                    </div>
            </p></td>

        </tr>
        <tr>
            <td>
                <p class="image-wrap">
                    <div><a id="Evidence"></a>Evidence of Compliance:</div>
                    <div><b>Process Documentation</b> - TVA Transmission SPP 12.006, this help file and the functionality of openSPM.</div>
                    <div>
                        <b>Discovery Status Report </b> - f(Vendor) - min, max, avg vendor "check" durations.  Patch release dates vs. check date (min, max, avg).
                        Violation if check > 35 days from vendor release date.
                    </div>
                    <div>
                        <b>Assessment Duration and Result Report</b> - f(Patch), f(BU) - 35 day assessment period measured from vendor patch release date.
                        Violation if all BUG have not assessed an applicable patch.  Results in openSPM provide evidence of assessments.
                    </div>
                    <div>
                        <b>Patch Installation Duration</b> - f(Patch), f(BU) - min, max, average by platform for each BUG.
                        Violation if all BUGs have not patched within 35 days.
                    </div>
                    <div><b>Patch Installation Evidence</b> - f(Patch), f(BU) - installation notes, attached documents</div>
                    <div>
                        <b>Mitigation Plan Development Duration</b> - f(Patch), f(BU) min, max, avg for each BUG.
                        Violation if all BUs have not developed a plan within 35 days.
                    </div>
                    <div><b>Mitigation Plan Content</b> - f(plan) - copies of the plans.</div>
            </p></td>
        </tr>
        <tr>
            <td>
                <p class="image-wrap">
                    <div><a id="Roles"></a>User Roles:</div>
                    <div>
                        <b>Business Unit Coordinator</b> (BU Coordinator) - The individual that is the approval authority for a business unit's
                        security actions for CCA for which that BU is accountable.  A BU Coordinator enters the results of the patch assessment for
                        that business unit.  A BU Coordinator approves Mitigation Plans for their Business Unit.
                    </div>
                    <div>
                        <b>Patch Input Coordinator</b> (PIC) - The individuals responsible for (1) reviewing sources of patch availability,
                        (2) entering candidate security patches into openSPM for assessment by SMEs, and (3) closing patches that been successfully assessed / addressed by the BUs.
                    </div>
                    <div>
                        <b>Security Patch Compliance Authority</b> (Owner) - The corporate owner of the processes managed by openSPM.
                        The Owner can set business process configuration parameters and has full functionality on all system pages except for those pages reserved for Admins.
                    </div>
                    <div>
                        <b>Subject Matter Expert</b> (SME)- Professional staff within the business unit charged with making assessments
                        on the security applicability and methods for addressing the vendor notice of patch availability.
                    </div>
                    <div>
                        <b>System Administrator</b> (Admin) - Information Technology personnel authorized to establish users and roles and
                        set implementation specific configuration parameters (e.g., data base location).  Admins have unrestricted access to all pages in the openSPM System.
                    </div>
                    <div><b>Viewer</b> - Those authenticated to the domain can view the status of active patches but cannot make any changes within the system. </div>
            </p></td>
        </tr>
        <tr style="height: 150px; border: none">
            <td colspan="2">&nbsp;</td>
        </tr>
    </tbody>
</table>
